layout {

    focus-ring {
        active-color   "#ffb0d0"
        inactive-color "#171214"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb0d0"
        inactive-color "#171214"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb0d0"
        inactive-color "#792952"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb0d080"
    }
}

recent-windows {
    highlight {
        active-color "#ffb0d0"
        urgent-color "#ffb4ab"
    }
}
